nav .foto_perfil{
    height: 10vh;
    width: 10vh;
    object-fit: cover;
    border-radius: 35vh;
    border: solid gold .5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;        
}

.patente{
    height: 6vh;
    width: auto;    
    position: relative;
    left: -25%;
}